---
const title = `Hi, I'm Sergei Iu a future full stack web developer :)`;
const subTitle = `I was starting learning web development on 1 March 2022.`;
const description = `Now I am living in Russia :(. I love developing, Ayn Rand, anime 'Naruto' and my family.`;
---
<section class="section">
    <h1>{title}</h1>
    <strong class="sub-title">{subTitle}</strong>
    <p>{description}</p>
</section>

<style lang="scss">
    .sub-title {
        font-size: 2rem;
    }
</style>