---
import ProjectItem from './ProjectItem.astro';
import site from "../data/site.json";
const title = `Projects I’ve been working on`;
const {projects} = site;
---
<section id="projects">
    <h3>{title}</h3>
    <!-- <div class="projects"> -->
        {projects.map((item) => (
            <ProjectItem item={item} />
        ))}
    <!-- </div> -->
</section>
<style lang="scss">
    .projects {
        // display: grid;
        // @media (min-width: 450px) {
        //     grid-template-columns: 1fr 1fr;
        // }
        // display: grid;
        // grid-template-columns: repeat(5, 1fr);
        margin: 1rem 0;
        
    }
</style>